# ===========================================================================
# PROJECT ENVIRONMENT SETUP: cmake-build/.envrc
# ===========================================================================
# SHELL: bash (or similiar)
# SEE ALSO: https://direnv.net/
# USAGE:
#   source .envrc
#
#   # -- BETTER: Use direnv (requires: Setup in bash / HOME/.bashrc)
#   # eval "$(direnv hook bash)"
#   direnv allow .
# ===========================================================================
# export PYTHONPATH=".:${HERE}:${HERE}/lib/python:${PYTHONPATH}"
# export PATH=".:$TOPDIR/bin:$PATH"

source_env_if_exists .envrc.use_venv

HERE="$PWD"
path_add PATH "${HERE}/bin"
path_add PYTHONPATH "${HERE}/lib/python"
path_add PYTHONPATH "${HERE}"
